.form {
  padding-top: 36px;
  padding-left: 156px;
  background: #fff;
}

.delay {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.delay-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
}

.delay-input:hover {
  border-color: #000;
}

.delay-input:active {
  border-color: #4e75ff;
}

.fieldset {
  width: 360px;
  height: 78px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  border: 1px solid #808080;
}

legend {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.radio-input {
  border-radius: 14px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;

  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

fieldset input[type='radio'] {
  margin-right: 8px;
  accent-color: #4e75ff;
}

fieldset input[type='radio']:hover {
  border-color: #000000;
}

fieldset input[type='radio']:active {
  border-color: #000000;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #6c8cff;
}
